// это файл TodosPage.module.scss, 
//расположенной по адресу src/client/pages/todos/TodosPage.module.scss

@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
@use '../../styles/breakpoints' as bp;

.container {
  max-width: 480px;
  margin: 0 auto;
  
  padding: 104px 8px 40px; 

  display: flex;
  flex-direction: column;

  @include bp.mobile {
    padding: 80px 8px 30px; 
    gap: 24px;
  }
}

.header {
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  h1 {
    color: v.$text-primary;
    @include m.glow(v.$color-blue, 0.2); 
  }

  @include bp.mobile {
    gap: 5px;
    h1 {
      font-size: 2rem;
    }
  }
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
  
  animation: fadeIn 0.5s ease-out;

  @include bp.mobile {
    min-height: auto; 
  }
}


@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}
