// это файл 'Checkbox.module.scss
// расположен по адресу src/client/components/checkbox/Checkbox.module.scss

@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
@use '../../styles/colors' as c;

.checkboxWrapper {
  @include m.flex-center;
  cursor: pointer;
  position: relative;
  padding: 4px;
  justify-content: flex-start; // Чтобы текст был слева-направо

  .hiddenInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .customCheck {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    transition: v.$transition-base;
    
    @include m.glass(0.05, 8px); // Базовое стекло для квадратика
    @include m.flex-center;

    &::after {
      content: "";
      width: 6px;
      height: 11px;
      border: solid v.$color-green;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg) scale(0);
      transition: transform 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    }
  }

  &:hover .customCheck {
    border-color: rgba(c.$color-green, 0.5);
    background: rgba(c.$color-green, 0.05);
  }

  .hiddenInput:checked ~ .customCheck {
    background: rgba(c.$color-green, 0.1);
    border-color: v.$color-green;
    
    // Используем миксин свечения для галочки
    @include m.glow(v.$color-green, 0.5);

    &::after {
      transform: rotate(45deg) scale(1);
    }
  }
}
