@use './colors' as c;
@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  background: radial-gradient(circle at top right, c.$color-bg-dark-1, c.$color-bg-dark-2, c.$color-bg-dark-3);
  background-attachment: fixed;
  color: $text-primary;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

input {
  font-family: inherit;
}