// Button.module.scss
// src/client/components/button/Button.module.scss

@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.glassButton {
  padding: 10px 20px;
  border-radius: v.$radius-main;
  font-weight: v.$font-weight-semibold;
  font-size: 14px;
  cursor: pointer;
  transition: v.$transition-glow;
  
  // Применяем миксины
  @include m.glass(0.05, 10px);
  @include m.flex-center;

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.4;
    filter: grayscale(1);
    transform: none !important;
    pointer-events: none;
  }
}

.blue {
  color: v.$color-blue;
  @include m.glow(v.$color-blue, 0.3);

  &:hover {
    background: rgba(v.$color-blue, 0.2);
    border-color: v.$color-blue;
    @include m.glow(v.$color-blue, 0.6); // Усиливаем свечение
    color: v.$text-primary;
  }
}

.red {
  color: v.$color-red;
  @include m.glow(v.$color-red, 0.2);

  &:hover {
    background: rgba(v.$color-red, 0.15);
    border-color: v.$color-red;
    @include m.glow(v.$color-red, 0.5);
    color: v.$text-primary;
  }
}

.transparent {
  background: transparent;
  border-color: transparent;
  color: v.$text-muted;

  &:hover {
    color: v.$text-secondary;
    @include m.glass(0.08, 5px); // Легкое проявление стекла при наведении
  }
}